<% content_for :title do %>
  <%= I18n.t('title') %>
<% end %>
<% content_for :header do %>
  <%= javascript_include_tag "reports/reports" %>
<% end %>
<div class="panel" style="display:none">
  <%= params.inspect %>
</div>
<br/>
<div class="row">
  <%= link_to I18n.t('back'), stores_reports_path, :class => "small button back secondary round" %>
</div>
<div class="table_result row" data-stores="<%= @stores %>"  data-date="<%= @date %>"   data-date_end="<%= @date_end %>">
  <%= render "reports/table", :rows => @rows, :thead => @thead, :total => @total, :current => @current, :colums => @colums %>
</div>


